[submodule "SAFFAL"]
	path = SAFFAL
	url = https://github.com/emileb/SAFFAL.git

[submodule "AndroidCore_OpenTouch"]
	path = AndroidCore_OpenTouch
	url = https://github.com/emileb/AndroidCore_OpenTouch.git

[submodule "RazeTouch/app/src/main/jni/AudioLibs_OpenTouch"]
	path = RazeTouch/app/src/main/jni/AudioLibs_OpenTouch
	url = https://github.com/emileb/AudioLibs_OpenTouch.git

[submodule "RazeTouch/app/src/main/jni/Clibs_OpenTouch"]
        path = RazeTouch/app/src/main/jni/Clibs_OpenTouch
        url = https://github.com/emileb/Clibs_OpenTouch.git

[submodule "RazeTouch/app/src/main/jni/MobileTouchControls"]
	path = RazeTouch/app/src/main/jni/MobileTouchControls
	url = https://github.com/emileb/MobileTouchControls.git

[submodule "RazeTouch/app/src/main/jni/Raze"]
	path = RazeTouch/app/src/main/jni/Raze
	url = https://github.com/emileb/Raze.git
	branch = master_mobile

[submodule "RazeTouch/app/src/main/jni/SDL2_OpenTouch"]
	path = RazeTouch/app/src/main/jni/SDL2_OpenTouch
	url = https://github.com/emileb/SDL2_OpenTouch.git

[submodule "RazeTouch/app/src/main/jni/ZMusic"]
	path = RazeTouch/app/src/main/jni/ZMusic
	url = https://github.com/emileb/ZMusic.git
	branch = mobile

[submodule "RazeTouch/app/src/main/jni/eduke32_mobile"]
	path = RazeTouch/app/src/main/jni/eduke32_mobile
	url = https://github.com/emileb/eduke32_mobile.git
	branch = fury-2.0_mobile

[submodule "RazeTouch/app/src/main/jni/eduke32_mobile_dev"]
	path = RazeTouch/app/src/main/jni/eduke32_mobile_dev
	url = https://github.com/emileb/eduke32_mobile.git
	branch = master_mobile

[submodule "RazeTouch/app/src/main/jni/gl4es"]
	path = RazeTouch/app/src/main/jni/gl4es
	url = https://github.com/emileb/gl4es.git
	branch = mobile_eduke

[submodule "RazeTouch/app/src/main/jni/AWOL"]
	path = RazeTouch/app/src/main/jni/AWOL
	url = https://github.com/emileb/eduke32_mobile.git
	branch = awol
	